<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href=<%=css %>>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <h3 onclick="window.location.href='/'"> Al-Bashir Database</h3>
    </header>
    <div id="body">
        <%- include(router) %>
    </div>
</body>

</html>