html,
body {
    font-family: Arial;
    overflow: hidden;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
#app {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}
section {
    display: grid;
    grid-template-rows: 1fr auto;
}
#app nav {
    box-shadow: 0 0 2px;
}

nav svg {
    width: 25px;
    height: 25px;
}
nav ul {
    list-style: none;
    margin-top: 200%;
}
li:hover {
    box-shadow: inset 0 0 1px;
    background: #eae9e9;
}